<! DOCTYPE HTML>
  <html>

  <head>

    <meta charset="utf-8" />
    <title>Tharun Techie </title>
    <link rel="shortcut icon" type="image/ico" href="../images/TitleIcon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap Queries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- CSS stylesheets -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>

  <body style="user-select: none" ondragstart="return false;" ondrop="return false;">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navigation">
      <!-- Brand -->
      <a class="navbar-brand" href="#"><img src="../images/BrandIcon2.png" height="40" width="155" alt="Brand Icon"></a>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li><a class="nav-link mr-3" href="#">Home</a></li>
          <li><a class="nav-link mr-3" href="https://pothurajtharun.github.io/MyWebsite/">About</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/Java">Java</a>
              <a class="dropdown-item" href="/Python">Python</a>
              <a class="dropdown-item" href="/Automation">Automation</a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link mr-3" href="/Createaccount"> Create an account</a></li>
          <li><a class="nav-link mr-3" href="/SignIn"> Sign in</a></li>
        </ul>
      </div>
    </nav>

    <!--Carousel-->
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="carouselimage" src="../images/Java.png" alt="Java Learning">
          <div class="carousel-caption text-dark font-weight-bold">
            <h3>Quote By "Kent Beck"</h3>
            <p>“I'm not a great programmer; I'm just a good programmer with great habits."</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="carouselimage" src="../images/Python.png" alt="Python Learnig">
          <div class="carousel-caption text-dark font-weight-bold">
            <h3>Quote By "Tharun"</h3>
            <p>"People are still crazy about Python after twenty-five years, which I find hard to believe."</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="carouselimage" src="../images/Automation.jpg" alt="Machine Learning">
          <div class="carousel-caption text-dark font-weight-bold">
            <h3>Quote By "Dave Waters"</h3>
            <p>“Computers are able to see, hear and learn. Welcome to the future of Automation.”</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

    <!-- Header Section -->
    <div class="row headersec">
      <div class="col-lg-6 headercol">
        <h1>You are in right site to learn yourself</h1>
        <p>We are introducing a great learning experience</p>
      </div>
      <div class="col-lg-6 headerimg">
        <img src="../images/headericon.png" alt="Header Icon" height="450" width="450">
      </div>
    </div>

    <!-- Section starts here -->
    <div class="section">
      <div class="row">
        <div class="col-lg-4">
          <a href="./Java.html"><i class="fab fa-java fa-5x iconsj"></i> </a>
          <h2>Java</h2>
          <p> It is a simple programming language.
            Writing, compiling and debugging a program is easy in java.
            It helps to create modular programs and reusable code.</p>
        </div>
        <div class="col-lg-4">
          <a href="./Python.html"><i class="fab fa-python fa-5x iconsp"></i></a>
          <h2>Python</h2>
          <p>Python is a programming language that lets you work quickly and integrate systems more efficiently.</p>
        </div>
        <div class="col-lg-4">
          <a href="./Automation.html"><i class="fas fa-laptop-code fa-5x iconsa"></i></a>
          <h2>Automation</h2>
          <p>Automation is the control of machines and processes by independent systems.
            Industry implements automation to increase productivity and reduce labor costs.</p>
        </div>
      </div>

    </div>


    <!--Footer-->
    <footer>
      <div class="foot">
        <a href="https://www.facebook.com/tharun.pothuraj" target="_blank"><i class="fab fa-facebook-square fa-2x mt-3 mr-3 ficons iconf"></i></a>
        <a href="https://www.instagram.com/abhitharun/?hl=en" target="_blank"><i class="fab fa-instagram fa-2x mr-3 ficons iconi"></i></a>
        <a href="https://twitter.com/abhitharun1490" target="_blank"><i class="fab fa-twitter-square fa-2x mr-3 ficons icont"></i></a>
        <a href="https://www.linkedin.com/in/tharun-kumar-171575102/" target="_blank"><i class="fab fa-linkedin fa-2x mr-3 ficons iconl"></i></a>
        <a href="https://github.com/pothurajtharun" target="_blank"><i class="fab fa-github-square fa-2x mr-3 ficons icongi"></i></a>
        <a href="https://www.youtube.com/channel/UCAuZnUv7Ma-SbZ-zc3JnYmQ?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x mr-3 ficons icony"></i></a>
        <p class="mb-0 mt-2"> &copy; 2019 Designed by <a href="https://pothurajtharun.github.io/MyWebsite/">Tharun Pothuraj.</a></p>
    </footer>

  </body>

  </html>
