.head0
                    {
                        font-family: fantasy;
                        font-size:54px;
                        background: #39efef;
                        height: auto;
                        width: 400px;
                        text-align: center;
                        margin-left: 400px;
                        margin-top: 10px;
                    }
                    .head1
                    {

                        font-size: 30px;
                        font-style: italic;
                        color: #e3375a;
                    }
                    .head2
                    {
                        font-family: monospace;
                        font-size: 50px;
                        color: rgb(17, 20, 16);
                        text-align: center;
                    }
                    .para
                    {
                        font-style: oblique;
                        font-family: cursive;
                        background-color: #d06a6a;
                        padding: 15px;
                        margin: 10px;
                    }
                    .bord
                    {
                        border: 10px solid #8d0dd1;
                        background-color: #bae68f;
                        margin: 0px;
                    
                    }