*margin
                                    {
                                        margin: 30px;
                                        padding: 0px;
                                        list-style-type: none;
                                    }
                                    header,nav,aside,sectio,footer,article{

                                        display: block;
                                    }
                                    .back
                                    {
                                        margin-left: 3px;
                                        margin-right: 3px;
                                        margin-top: 4px;
                                        height: 25px;
                                        background-color: yellow;
                                        font-size: 20px;
                                    }
                                    /* centering web site*/
                                    .container
                                    {
                                        background-color: #2eed3d;
                                        margin: auto;
                                        border: 15px solid #120101;
                                    }
                                    .clear
                                    {
                                        clear: both;
                                    }
                                    .logo
                                    {
                                        height: 190px;
                                        width: 232px;
                                        float: left;
                                        margin-left: 5px;
                                    }
                                    .logo1
                                    {
                                        height: 190px;
                                        width: 232px;
                                        float: RIGHT;
                                        margin-right: 5px;
                                    }
                                    .logo2
                                    {
                                        height: 115px;
                                        width: 100px;
                                        float: left;
                                        margin-left: 10px;
                                        margin-top: 75px;
                                    }
                                    .logo3
                                    {
                                        height: 115px;
                                        width: 100px;
                                        float: left;
                                        margin-left: 957px;
                                        margin-top:-115px;
                                    }
                                    /*blood donors*/
                                    .mid
                                    {

                                        background-color: chocolate;
                                        font-family: cursive;
                                        font-size: 49px;
                                        width: 810px;
                                        margin-left: 247px;
                                        margin-top: 5px;
                                        text-align: 280px;
                                    }
                                    .quote
                                    {
                                        font-family: timesnewroman;
                                        margin-top: -29px;
                                        margin-left: 400;
                                        width: 500px;
                                        font-size: 40px;
                                        text-align: center;
                                        border-bottom: 100px;
                                    }
                                    .abhi
                                    {
                                        font-family: monospace;
                                        width: 60px;
                                        font-style: bold;
                                        font-size: 19px;
                                        margin-top: -48px;
                                        margin-left: 880px;
                                    }
                                    .top_nav
                                    {
                                        float: left;
                                        width: 1000px;
                                    }
                                    .top_nav ul li 
                                    {
                                        float: left;
                                        padding: 35px 50px;
                                        font-size: 20px;
                                        
                                    }
                                    .top_nav ul li a{
                                        text-decoration: none;
                                        color: black;
                                        
                                    }
                                    .top_nav ul li a:hover{
                                        text-decoration: underline;
                                        color: white;
                                        background-color: black;
                                    }
        
                                    /*floating */
                                    .left_side
                                    {
                                        float: left;
                                        width: 700px;
                                    }
                                    .left_side article
                                    {
                                        border: 6px solid red;
                                        margin: 5px;
                                        margin-right: 10px;
                                        padding: 10px;
                                        padding-bottom: 70px;
                                    }
                                    .right_side
                                    {
                                        float: left;
                                        width:600px;
                                    }
                                    .right_side div
                                    {
                                        border:3px solid #eb1db4;
                                        margin: 4px 2px 15px; /*top left bottom right*/
                                        padding:100px;
                                    }
                                    /*making footer*/
                                    .page_footer
                                    {
                                        clear: both;
                                        text-align: center;
                                    }